<div class="card border-light mb-3" style="max-width: 70rem;">
  <div class="card-header">
    <h1>{{tableData.staffing.title}}</h1>
  </div>
  <div class="card-body">
    <div class="card border-light mb-3" style="max-width: 70rem;">
      <div class="card-header">
        <h1>Staffing Period</h1>
      </div>
      <div class="card-body text-dark">
        <div class="row">
          <h3 class="card-title col-lg-4">From :</h3>
          <h3 class="card-title col-lg-8">{{tableData.staffing.staffingPeriod.from}}</h3>
        </div>
        <div class="row">
          <h3 class="card-title  col-lg-4">To :</h3>
          <h3 class="card-title col-lg-8">{{tableData.staffing.staffingPeriod.to}}</h3>
        </div>
      </div>
      <div class="card border-light mb-3" style="max-width: 70rem;">
        <div class="card-header">
          <h1>Project Information</h1>
        </div>
        <div class="card-body text-dark">
          <div class="row">
            <h3 class="card-title col-lg-4">Project name :</h3>
            <h3 class="card-title col-lg-8">{{tableData.staffing.projectInformation.projectName}}</h3>
          </div>
          <div class="row">
            <h3 class="card-title  col-lg-4">Project manager :</h3>
            <h3 class="card-title col-lg-8">{{tableData.staffing.projectInformation.projectManager}}</h3>
          </div>

        </div>
      </div>
      <div class="card border-light mb-3" style="max-width: 70rem;">
        <div class="card-header">
          <h1>Comment</h1>
        </div>
        <div class="card-body text-dark">
          <h3> {{tableData.staffing.comment}}</h3>
        </div>
      </div>

      <div class="card border-light  mb-3" style="max-width: 70rem;">
        <div class="card-header bg-warning">
          <h1>Staffing History</h1>
        </div>
        <div class="card-body text-dark">
          <table class="table">
            <thead class="thead-light">
              <tr>

                <th scope="col">Action date</th>
                <th scope="col">Performed by</th>
                <th scope="col">Action type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of tableData.staffing.staffingHistory ">
                <td>{{t.actionDate}}</td>
                <td>{{t.performedBy}}</td>
                <td>{{t.actionType}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="ml-auto">
        <input type="checkbox" aria-label="Checkbox for following text input"> Related tasks
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row px-2">
      <button class="btn btn-default" (click)="reduceStaffing()">Reduce Staffing</button>
      <div class="ml-auto">
        <button class="mx-1 btn btn-default"> Delete</button>
        <button class="mx-1 btn btn-default" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
