<div class="row mx-4">
  <div class="col-lg-4">
    <app-add-resources></app-add-resources>
  </div>
  <div class="col-lg-3">
    <app-date-range class="w-100"></app-date-range>
  </div>
  <div class="col-lg-5 text-right">
      <button type="button" class="btn text-right btn-outline-dark toggle mr-1" data-toggle="collapse" data-target="#header-filter"
        aria-expanded="false" aria-controls="header">
        <i class="material-icons">
          menu
        </i> Filters</button>
      <app-collapse-expand></app-collapse-expand>
  </div>
</div>
