<div class="card border-light form">
  <div class="card-header">
    <h1>Reduce Staffing</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="reduceStaffingForm">
      <div class="row mt-3">
        <h2 class="col-lg-3">Resource :</h2>
        <h2 class="col-lg-9">Resource X </h2>
      </div>
      <div class="row mt-3">
        <h2 class="col-lg-3">Project : </h2>
        <h2 class="col-lg-9">{{dataStaffing.staffing.projectInformation.projectName}} </h2>
      </div>
      <div class="row mt-4">
        <mat-form-field class="col">
          <input matInput formControlName="from" placeholder="From" [max]="minDate" [matDatepicker]="picker" [(ngModel)]="from" (dateInput)="addEvent(from,to)"
            readonly="true">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col">
          <input matInput formControlName="to" placeholder="To" [min]="minDate" [matDatepicker]="picker2" [(ngModel)]="to" (dateInput)="addEvent(from,to)"
            readonly="true">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="float-right">

        <button class="btn btn-default" (click)="reduceStaffing()"> Reduce Staffing</button>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
      </div>


      <!-- <mat-form-field>
      <input matInput formControlName="endDate" placeholder="To" [matDatepicker]="picker2" [min]="minDate" [(ngModel)]="to" (dateInput)="addEvent(startDate,endDate)"
        readonly="true">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field> -->
      <!-- <button (click)="reduce(startDate,endDate)"> Reduce</button>
    <button (click)=" cancel() ">Cancel</button> -->

    </form>
  </div>

</div>
