<div class="card border-light w-100">
  <div class="card-header">Select resources</div>
  <div class="card-body w-100" mat-dialog-content style="box-sizing: content-box;">
    <div class="container">
      <form>
        <table class="table table-hover table-sm">
          <tbody>
            <tr *ngFor="let i of tab">
              <td>
                <input type="checkbox">
              </td>
              <td>
                Resources </td>
            </tr>
          </tbody>
        </table>
      </form>

    </div>
  </div>
</div>
<div >
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button [mat-dialog-close]="">Add</button>
</div>
