<tr>
  <td colspan="9" rowspan="2"></td>
  <td class=" text-center" *ngFor="let m of months" [attr.colspan]="m.numberOfWeeks*7">{{m.month}}</td>
</tr>
<tr>
  <td class="text-center table-warning" *ngFor="let week of weeks" colspan="7">{{"w"+week}}</td>
</tr>
<tr>
  <td style="position: sticky;" class="text-bold">Name</td>
  <td class="text-bold">Loc</td>
  <td class="text-bold">Tech</td>
  <td class="text-bold">M</td>
  <td class="text-bold">M+1</td>
  <td class="text-bold">M+2</td>
  <td class="text-bold">M+3</td>
  <td class="text-bold">M+4</td>
  <td class="text-bold">Year</td>
  <td *ngFor="let day of days">{{day}}</td>

</tr>
