<tr>
  <td colspan="9" rowspan="2">
    <i class="material-icons toggle" data-toggle="collapse" data-target="#header" aria-expanded="false" aria-controls="header">
      menu
    </i>
  </td>
  <ng-container *ngFor="let m of data.months">
    <td class="text-center" *ngIf="m.week > 0" [attr.colspan]="m.week">{{m.month}}</td>
  </ng-container>
</tr>
<tr>
  <td class="text-center table-warning" *ngFor="let week of data.weeks" [attr.colspan]="week.dayNum">{{"w"+week.week}}</td>
</tr>
<tr>
  <td style="position: sticky;" class="text-bold">Name</td>
  <td class="text-bold">Loc</td>
  <td class="text-bold">Tech</td>
  <td class="text-bold">M</td>
  <td class="text-bold">M+1</td>
  <td class="text-bold">M+2</td>
  <td class="text-bold">M+3</td>
  <td class="text-bold">M+4</td>
  <td class="text-bold">Year</td>
  <td *ngFor="let day of data.days">{{day}}</td>

</tr>
