<tr>
  <td colspan="9" rowspan="2">
  </td>
  <ng-container *ngFor="let m of data.months">
    <td class="text-center" *ngIf="m.week > 0" [attr.colspan]="m.week">{{m.month}}</td>
  </ng-container>
</tr>
<tr>
  <td class="text-center table-warning" *ngFor="let week of data.weeks" [attr.colspan]="week.dayNum">{{"w"+week.week}}</td>
</tr>
<tr>
  <th scope="col">Name</th>
  <th scope="col">Loc</th>
  <th scope="col">Tech</th>
  <th scope="col">M</th>
  <th scope="col">M+1</th>
  <th scope="col">M+2</th>
  <th scope="col">M+3</th>
  <th scope="col">M+4</th>
  <th scope="col">Year</th>
  <td *ngFor="let day of data.days" class="day">{{day}}</td>

</tr>
