<form [formGroup]="dateRangeForm" class="row">

    <mat-form-field>
      <input matInput formControlName="startDate" placeholder="From"  [max]="minDate" [matDatepicker]="picker" [(ngModel)]="startDate" (dateInput)="addEvent(startDate)"
        readonly="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
   
    <i class="material-icons" (click)="navigate(-1)">
      navigate_before
    </i>
    <i class="material-icons" (click)="navigate(1)">
      navigate_next
    </i>

</form>
