/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-form-field-infix {
  
  border-top: 0em solid transparent;
}

.mat-form-field {
  padding: .1em 0;
}

body * {
  font-size: 0.8rem !important;
}

.material-icons {
  font-size: 1rem !important;
  vertical-align: text-bottom !important;
}

i{
    cursor: pointer;
}

.mat-dialog-container {
  padding : 0 !important;
}
