  <div class="row">
    <span class="col-lg-1 text-right p-0">Page</span>
    <mat-form-field class="col-lg-2">

      <mat-select [(value)]="pageSelected" (selectionChange)="onselectionChange()">
        <mat-option *ngFor="let page of pages()" [value]="page">
          {{page}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-lg-3 p-0">
      
      <i class="material-icons" (click)="navigate(-1)">
        navigate_before
      </i>
      <i class="material-icons" (click)="navigate(1)">
        navigate_next
      </i>
      of {{numberOfPages()}} ({{numResources}} resources)
    </div>

    <mat-form-field class="col-lg-2">
      <mat-select [(value)]="resByPageSelectedIndex " (selectionChange)="onselectionChange()">
        <mat-option *ngFor="let page of resByPage; let i = index" [value]="i">
          {{page}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="col-lg-4 p-0">Resources by pages</span>

</div>
